{% extends 'ShopBundle::base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    {{ render(path('products_all')) }}

    <ul>
        <li>
            <a href="{{ path('products_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
