{% extends 'ShopBundle:shop:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron text-center">
                <form action={{ path('show_products') }} method="post">
                            <input class="form-control" type="text" name="name" placeholder="Search"><br>
                            <select class="form-control" name="categories">
                                    <option value="">All Categories</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select><br>
                            <input class="btn btn-default" type="submit" value="Search"><br><br>
                        {#<img src="http://i1.wp.com/negativespace.co/wp-content/uploads/2015/05/negativespace1-21.jpg?w=1300"/>#}
                        <p><a class="btn btn-success btn-lg" href="{{ path('products_all') }}" role="button">Start Shopping</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}